.title-plan-meal {
  color: #4FD5D0;
  font-size: 1rem;
}

.card-food {
  border: 1px solid #4FD5D0 !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.card-footer {
  border: none !important;
}

.calori {
  border: 1px solid #11999E;
  text-align: center;
  border-radius: 14px;
  padding: 2rem 0rem;
  width: 70%;
}
.calori h2 {
  color: #40514E;
  font-size: 1.6em;
  font-weight: 800;
}