<footer>
  <section class="footer-container">
    <div class="brand">
      <img src="./assets/images/logo.png" alt="logo">
      <p>choose healthy food for the body and for the  earth</p>
    </div>
    <div class="item">
      <h5>Layanan</h5>
      <ul>
        <li><a href="#">Tentang Kami</a></li>
        <li><a href="#">Kebijakan dan Privasi</a></li>
        <li><a href="#">Hubungi Kami</a></li>
        <li><a href="#">Bantuan</a></li>
      </ul>
    </div>
    <div class="item">
      <h5>Features</h5>
      <ul>
        <li><a href="#">Diet</a></li>
      </ul>
    </div>
    <div class="partner">
      <h5>Challenge Partner & Mitra</h5>
      <div class="image-partner">
        <img src="./assets/images/danone.png" class="danone" alt="danone">
        <img src="./assets/images/skilvul.png" class="skilvul" alt="skilvul">
      </div>
    </div>
  </section>
  <hr class="line-footer"/>
  <div class="copyright">
    <p>Copyright © FE-35 & BE-17 - Calc Health | All Right Reserved</p>
    <div class="social-media">
      <img src="./assets/images/Facebook 1.png" alt="facebook">
      <img src="./assets/images/Instagram 1.png" alt="instagram">
      <img src="./assets/images/Twitter 1.png" alt="twitter">
      <img src="./assets/images/Youtube 1.png" alt="youtube">
    </div>
  </div>
</footer>